<h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight pb-4">
  Movimientos
</h2>

<a
  routerLink="/movements/register"
  href="/movements/register"
  id="registerMovement"
  class="inline-flex items-center justify-center rounded-full bg-primary px-6 py-3 text-sm font-semibold text-white shadow-lg shadow-sky-500/20 transition hover:bg-orange-400 mb-5"
>
  <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="icon">
    <path
      d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"
    ></path>
  </svg>

  Registre un nuevo movimiento
</a>

@if (loading()) {
  <div class="p-4">Cargando los productos ...</div>
}

<!-- @if (error()) { <div class="p-4 text-red-600">Error: {{ error?.message || error }}</div> } -->

@if (!loading() && movements().length === 0) {
  <div class="p-4 text-foreground">No se encontraron productos .</div>
}

@if (movements().length) {
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y bg-sidebar-accent table-auto">
      <thead class="bg-muted">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-medium text-foreground">Cantidad</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-foreground">Rason</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-foreground">Operaion</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-foreground">Timestamp</th>
        </tr>
      </thead>
      <tbody class="bg-card divide-y divide-border">
        @for (p of movements(); track $index) {
          <tr class="hover:bg-background">
            <td class="px-4 py-2 text-sm text-foreground">{{ p.quantity }}</td>
            <td class="px-4 py-2 text-sm text-foreground">{{ p.reason }}</td>
            <td class="px-4 py-2 text-sm text-foreground">{{ p.operationName == 'out' ? 'Salida': 'Ingreso' }}</td>
            <td class="px-4 py-2 text-sm text-foreground">{{ p.timestamp }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
