<h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight pb-4">Productos</h2>

<a routerLink="/products/register" class="inline-flex items-center justify-center rounded-full bg-primary px-6 py-3 text-sm font-semibold text-white shadow-lg shadow-sky-500/20 transition hover:bg-orange-400 mb-5">
<span>
  <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="icon">
          <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"></path>
        </svg>
</span>
  Registre un nuevo producto
</a>


@if (loading()) { <app-loader/> }

@if (error) { <div class="p-4 text-red-600">Error: {{ error?.message || error }}</div> }

@if (!loading() && products().length === 0) { <div class="p-4">No se encontraron productos .</div> }

@if (products().length) {
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y bg-sidebar-accent table-auto">
      <thead class="bg-muted">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-medium text-foreground">SKU</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-foreground">Nombre</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-foreground">Descripcion</th>
          <th class="px-4 py-2 text-right text-sm font-medium text-foreground">Stock</th>
          <th class="px-4 py-2 text-right text-sm font-medium text-foreground">Min</th>
          <th class="px-4 py-2 text-right text-sm font-medium text-foreground">Precio</th>
          <th class="px-4 py-2 text-center text-sm font-medium text-foreground">Estado</th>
          <th class="px-4 py-2 text-center text-sm font-medium text-foreground">Acciones</th>
        </tr>
      </thead>
      <tbody class="bg-card divide-y divide-border">
        @for (p of products(); track $index) {
          <tr class="hover:bg-background">
            <td class="px-4 py-2 text-sm text-foreground">{{ p.sku }}</td>
            <td class="px-4 py-2 text-sm text-foreground">{{ p.name }}</td>
            <td class="px-4 py-2 text-sm text-foreground">{{ p.description }}</td>
            <td class="px-4 py-2 text-sm text-foreground text-right">{{ p.currentStock }}</td>
            <td class="px-4 py-2 text-sm text-foreground text-right">{{ p.minStock }}</td>
            <td class="px-4 py-2 text-sm text-foreground text-right">${{ p.unitPrice }}</td>
            <td class="px-4 py-2 text-sm text-center">
              @if(p.active) {
                <span class="state-badge-success">Activo</span>
              } @else {
                <span class="state-badge-error">Inactivo</span>
              }
            </td>
            <td>
              <a [routerLink]="['/products/', 'update', p.id]" class="text-foreground no-underline hover:underline mr-1.5"> Actualizar</a>
              <a [routerLink]="['/movements', 'register', p.id]" class="text-foreground no-underline hover:underline"> Mover</a>
              <a [routerLink]="['/movements', 'by-product', p.id]" class="text-foreground no-underline hover:underline"> Movimientos</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
